.loadingContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
}

.stepLabel {
  flex: 1;
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.percent {
  font-size: 12px;
  flex-shrink: 0;
}
