.flow-item-title-container {
  display: flex;
  align-items: center;
  gap: 8px;

  @media (max-width: 480px) {
    font-size: 15px;
    font-weight: 500;
  }
}
.icon {
  transition: all 0.3s;
  :hover {
    color: rgb(121, 114, 255);
  }
}
