.stepTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.stepIndex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(78deg, #3b91ff -3.23%, #0d5eff 51.11%, #c069ff 98.65%);
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  flex-shrink: 0;
}

.stepLabel {
  color: #0c0d0e;
  font-family: 'PingFang SC', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}
