.flow-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 480px) {
    max-width: 100vw;
    overflow: clip;
  }
}

.content-wrapper {
  @media (max-width: 480px) {
    max-width: calc(100vw - 24px);
    overflow: clip;
  }
}

.link-line {
  width: 2px;
  height: 20px;
  background-color: #DDE2E9;
}

.link-line-active {
  background-color: #387BFF;
}
